.form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width:100%
}

.formgroup {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 10px
}

.input {
    width: 40px;
    height: 20px;
    text-align: center;
}

.label {
    font-weight: bold;
}

.button {
    display: flex;
    justify-content: center;
}

@media only screen and (max-device-width: 600px) {

    .header {
        font-size: 40px;
    }

    .input {
        width: 50px;
        height: 30px;
        font-size: 30px;
        margin-top: 7px;
    }
    
    .label {
        font-weight: bold;
        text-align: center;
        width: 150px;
        font-size: 23px;
    }

    .button {
        margin-top: 10px;
    }
    
    .buttonText {
        font-size: 35px;
    }
}